<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.digitalswarm.bakingtime">

    <!--internet permission required to pull recipes-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecipeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipeDetailActivity"
            android:parentActivityName=".RecipeListActivity">
        </activity>
        <activity
            android:name=".RecipeStepDetailActivity"
            android:parentActivityName=".RecipeListActivity">
        </activity>

        <receiver android:name=".widgets.IngredientWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_xml" />
        </receiver>
        <!--Who would win: rewriting my widget code over and over trying to get data to bind to my remote views
        or two little lines in the manifest to register the service...
        (╯°□°)╯︵ ┻━┻ -->
        <service
            android:name=".widgets.IngredientWidgetViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>



</manifest>